.instructions{
    float: left;
    position: fixed;
    margin-left: -20%;
}

.ingredients {
    text-align: left;
    float: right;
}

.recipelink {
    margin-left: 40%
}

li{
    width: 60%;
    margin: auto;
}